<div class="burguer-menu-interface">
    <h2 class="burguer-menu-title">Menu</h2>
    <div class="burguer-menu-link">
        <a href="/products">Productos</a>
    </div>
    <div class="burguer-menu-link">
        <a href="/login">Ingresar</a>
    </div>
    <div class="burguer-menu-link">
        <a href="/registro">Crear cuenta</a>
    </div>
    <button class="burguer-menu-back">
        <i class="fa-solid fa-arrow-left"></i>
    </button>
</div>