<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: product.name}) %>
</head>
<body>
    <!------------------------------------- HEADER ----------------------------------->
    <header>
        <%- include("partials/header") %>
    </header>

    <!------------------------------------- MAIN ----------------------------------->
    <main class="detalle_de_producto">
        <section class="product-article">            
            <div class="product-image-price-container">
                <a href="">
                    <img class="product-image" src="images/products/buzo.jpg" alt="Buzo">
                </a>
            </div>
            <div>
                <h1 class="product-name-detail">Hoodie super soft</h1>
            </div>
            <ol>
                <p class="product-price-detail">$4.500</p>
                <p class="product-discount-detail">25% OFF</p>
            </ol>
                          
                <h4 class="product-style">Talles</h4>
                <select id="options" class="form-select form-select talles-detail" name="options">
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                    </select>
                
                <div class="">
                    <input type="submit" class="agregar-al-carrito-detail" value="AGREGAR AL CARRITO" data-store="product-buy-button" data-component="product.add-to-cart">
                
                <div class="product-style">
                    <span class="calcular-envio-detail">CALCULAR ENVIO</span>
                </div>                        
                


            </div>
           
            </main>
     <!------------------------------------- FOOTER ----------------------------------->
     <footer>
        <%- include("partials/footer") %>
    </footer>
</body>
</html>