<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <!-- LOGO -->
        <h1>LOGO</h1>

        <!-- HAMBURGUER MENU -->
        <a href="#" class="hamburguer-menu">
            <i class="fa-solid fa-bars hamburguer-menu"></i>
        </a>

        <!-- NAVBAR -->
        <nav class="navbar">
            <a class="navbar-item" href="/login">
                Ingresar
            </a>

            <a class="navbar-item" href="/registro">
                Crear cuenta
            </a>

            <a class="navbar-item" href="/carrito_de_compras"> 
                Carrito de compras 
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </nav>
    </header>
    <!------------------------------------- MAIN ----------------------------------->
    <main>


        
    </main>
     <!------------------------------------- FOOTER ----------------------------------->
     <footer>
        <section class="footer-section">
            <h1 class="footer-logo">LOGO</h1>

            <div class="social-networks">
                <a class="social-network-icon" href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a class="social-network-icon" href="">
                    <i class="fa-brands fa-tiktok"></i>
                </a>

                <a class="social-network-icon" href="">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </div>
        </section>
        
        <section class="footer-section">
            <h3>CONTACTO</h3>
            <form class="footer-form" action="" method="POST">
                <label for="name"></label>
                <input class="footer-input footer-name-input" type="text" id="name" maxlength="30" name="name" placeholder="Nombre">
                <label for="email"></label>
                <input class="footer-input footer-email-input" type="email" id="email" name="email" maxlength="100" placeholder="E-mail">
                <label for="textarea"></label>
                <textarea class="footer-input" name="mensaje" id="textarea" rows="10" maxlength="40" placeholder="Escriba su mensaje"></textarea>

                <button class="footer-submit-button" type="submit">Enviar</button>
            </form>
        </section>
    </footer>
</body>
</html>