<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Formulario de creación"}) %>
</head>
<body>
    <header>
        <!-- LOGO -->
        <%- include("partials/header")%>
    </header>

    <div>
        <h2 class="title">Formulario de creacion de productos</h2>
    </div>

    <form action="/products" method="post">
        <div>

            <div class="recorte-2">
                <label for="name" class="form-input">Nombre del producto:</label>
                <input type="text" id="name" name="name" placeholder="Ej: Buzo Novel">
            </div>

            <div class="recorte-2">
                <label for="price" class="form-input">Precio del producto:</label>
                <input type="number" id="price" name="price" placeholder="Ej: 150">
            </div>

            <div class="recorte-2">
                <label for="discount" class="form-input">Descuento:</label>
                <input type="number" id="discount" name="discount" placeholder="Ej: 10 off">
            </div>

            <div class="recorte-2">
                <label for="image" class="form-input">Imagen:</label>
                <input type="file" name="image" id="image">
            </div>

        </div>

        <div>
            <button type="submit">Guardar producto</button>
        </div>
    </form>

    <footer>
        <%- include("partials/footer") %>
    </footer>
</body>
</html>