<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Formulario de edición"}) %>
</head>
<body>

    <!------------------------------------- HEADER ----------------------------------->
    <header>
        <%- include("partials/header") %>
    </header>

    

    <!------------------------------------- FOOTER ----------------------------------->
    <footer>
        <%- include("partials/footer") %>
    </footer>
</body>
</html>